<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>RedArrow.py</string>
			<key>preferredName</key>
			<string>Red Arrow</string>
			<key>shortKey</key>
			<string></string>
		</dict>
		<dict>
			<key>path</key>
			<string>RedArrowErrorFilter.py</string>
			<key>preferredName</key>
			<string>Red Arrow Error Filter</string>
			<key>shortKey</key>
			<string></string>
		</dict>
		<dict>
			<key>path</key>
			<string>Select Glyphs With Errors.py</string>
			<key>preferredName</key>
			<string>Select Glyphs With Errors</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>Jens Kutilek</string>
	<key>developerURL</key>
	<string>http://www.kutilek.de/</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<integer>0</integer>
	<key>mainScript</key>
	<string>RedArrow.py</string>
	<key>name</key>
	<string>Red Arrow</string>
	<key>requiresVersionMajor</key>
	<string>1</string>
	<key>requiresVersionMinor</key>
	<string>6</string>
	<key>timeStamp</key>
	<real>1661157928.0</real>
	<key>version</key>
	<string>0.8.10</string>
	<key>com.robofontmechanic.Mechanic</key>
	<dict>
		<key>repository</key>
		<string>jenskutilek/RedArrow</string>
		<key>summary</key>
		<string>Mark technical outline errors in your glyphs.</string>
	</dict>
</dict>
</plist>
